body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 30px;
    background-color: #7a7a9b;
}

h1 {
    margin-bottom: 33px;
}

section {
    background-color: rgb(216, 201, 201);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 14px;
}

label {
    display: inline-block;
    width: 111px;
}

input {
    width: 160px;
    margin-bottom: 5px;
}

button {
    margin-right: 5px;
    padding: 7px 14px;
}